---
import Base from "../layout/Base.astro";

const title = "Music Inventory";
const description = "A music inventory";
---

<Base title={title} description={description}>
  <h1>Hello world</h1>
</Base>
