---
import { TfiShoppingCart } from "react-icons/tfi";
import { fetchItems } from "../scripts/utils";

const data = await fetchItems("/categories");
const categories = data.map(({ name }) => name);
---

<nav>
  <div class="center py-[3vh] flex justify-between items-center">
    <a href="/" class="text-2xl">Music Inventory</a>
    <ul class="flex gap-10">
      {
        categories.length &&
          categories.map((name) => {
            return (
              <li>
                <a href={`/categories/${name}`} class="capitalize">
                  {name}
                </a>
              </li>
            );
          })
      }
    </ul>
    <div class="flex gap-3">
      <input
        type="text"
        placeholder="search..."
        class="outline-none text-black px-2"
      />
      <button>
        <TfiShoppingCart size={24} />
      </button>
    </div>
  </div>
</nav>
